@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyOnHeroku.Models.IndexModel>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>NancyFx on Heroku</title>
</head>
<body>
  Hello Heroku! (from Nancy @Model.NancyVersion)
</body>
</html>
